///- Header-mobile
@media (max-width: 1000px) {

  header {
    padding-left: 5vh;
    padding-right: 5vh;

    .mobile-hamburger {
      display: block;

      img {
        width: 3vh;
      }
    }

    nav {
      display: none;
    }
  }

  .icons {
    a {
      img {
        height: 3vh;
      }
    }

  }
}

///- Main-mobile
@media (max-width: 1000px) {
  main {
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .product-name {
    display: block;

    .icons {
      text-align: right;
      margin-top: -10vh;

      a {
        img {
          height: 3vh;
        }
      }
    }
  }

  .bike {
    display: block;

    .bike-text {
      .input-box {
        display: block;

        select {
          width: 100%;
          height: 56px;
          margin-bottom: 15px;
        }
      }

    }

    .bike-img {
      padding: 0;
      margin: 0 auto;

      a {
        img {
          height: 5vh;
        }
      }

      img {
        height: 25vh;
        padding-bottom: 20px;
      }

    }
  }

  .desc {
    margin: 0 auto;
    justify-content: center;

    a {
      margin-right: 2vh;
      text-align: center;
    }
  }

  .product-desc {
    display: block;

    .text-img-mobie {
      display: block;
      height: 36vh;
    }

    .text-desc {
      padding-right: 0;
      padding-bottom: 50px;
    }

    img {
      display: none;
    }
  }

  .technical {
    padding-bottom: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 40px;

    table {
      width: 100%;

      .table-top {
        padding-right: 0;
      }



      tr {
        .no-mob {
          display: none;
        }
      }
    }
  }
}